@charset "utf-8";
body {
	background-image: url("background.jpg");
}

h1 {
    color: Black;
	font-size:70px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	text-shadow: 4px 4px 6px #BEBEBE;
 }
 h2
 {
color: Black;
	font-size:45px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	text-shadow: 4px 4px 6px #BEBEBE;
}
 ul
 {
	list-style-type: none;
 }
fieldset
 {
	 font-size: 16px;
	 font-family:Verdana, Geneva, sans-serif;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 2px groove #333333;
    padding: 20px;
    background:#bdbdbd;
    box-shadow: inset 0px 0px 15px #696969;;
    -moz-box-shadow: inset 0px 0px 15px #696969;;
    -webkit-box-shadow: inset 0px 0px 15px #696969;;
}
legend
{
	font-family:Verdana, Geneva, sans-serif;
    color: Black;
		border: 2px groove #696969;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #bdbdbd;
    padding: 3px 8px 3px 8px;
    box-shadow: -0px -1px 2px #333333;
    -moz-box-shadow:-0px -1px 2px #333333;
    -webkit-box-shadow:-0px -1px 2px #333333;
    font-weight: bold;
    font-size: 25px;
}

input.submit
{

	background: #bdbdbd;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 100%;
	font-weight: bold;
	font-stretch: 10%;
	text-align: center;
	border-radius: 25px;
    border: 2px groove #696969;
    padding: 10px;
}

div.button
{
	text-align: center;
}
